      </div><!-- End #body-container -->
        <div class="row">
          <div class="col-md-5">
            <h-include src="<%= TODOS_HOST %>/widgets/counter" skip-initial-include>
              <div data-refresh-on="new-todo, remove-todo">
                You have <%= count %> items left to do.
              </div>
            </h-include>
          </div>
        </div>
    </div><!-- End .container -->

    <script src="/javascripts/vendor/jquery-2.2.0.min.js"></script>
    <script src="/javascripts/vendor/jquery-pjax-1.9.6.js"></script>
    <script src="/javascripts/vendor/underscore-1.8.3-min.js"></script>
    <script src="/javascripts/vendor/x-activity-list-0.0.3.js"></script>
    <script src="/javascripts/vendor/simple-form.js"></script>
    <script src="/javascripts/main.js"></script>
    <script src="/javascripts/vendor/bootstrap-3.3.6.min.js"></script>
  </body>
</html>
