      </div>
    </div>

    <script src="javascripts/vendor/jquery-2.2.0.min.js"></script>
    <script src="javascripts/vendor/jquery-pjax-1.9.6.js"></script>
    <script src="javascripts/vendor/underscore-1.8.3-min.js"></script>
    <script src="javascripts/vendor/webcomponents-lite-0.7.2.min.js"></script>
    <script src="javascripts/vendor/html-include.js"></script>
    <script src="javascripts/vendor/x-activity-list-0.0.3.js"></script>
    <script src="javascripts/main.js"></script>
    <script src="javascripts/vendor/bootstrap-3.3.6.min.js"></script>
  </body>
</html>
