<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap-3.3.6.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script>
    function addCSSRule(sheet, selector, rules, index) {
      if("insertRule" in sheet) {
        sheet.insertRule(selector + "{" + rules + "}", index);
      }
      else if("addRule" in sheet) {
        sheet.addRule(selector, rules, index);
      }
    }

    addCSSRule(document.styleSheets[0], "html-include .initial", "display: none");
    addCSSRule(document.styleSheets[0], "html-include .spinner", "display: none");
    addCSSRule(document.styleSheets[0], "html-include .spinner:after", 'content: "..."'); // Not working
    </script>
  </head>
  <body>
    <html-include src="http://localhost:5000/?item=<%= locals.menuItem ? locals.menuItem : 'todos' %>" cache-bust><span class="initial"><a href="http://localhost:5000/">Link to navigation</a></span></html-include>
    <div class="container">
      <div id="popup-container"></div>
      <div class="activity-list panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Activity</h3>
        </div>
        <div class="panel-body">
          <html-include src="http://localhost:4000/widget"><span class="spinner"><a href="http://localhost:4000">Link to activities</a></span></html-include>
        </div>
      </div>
      <!--<h1><%= title %></h1>-->
      <div id="body-container">