<% if (layout) { %>
<%- include('_top.ejs') %>
<% } %>

<div class="row">
  <div class="nav-counter"><%= count %> items left to do.</div>
</div>

<% if (layout) { %>
<%- include('_bottom.ejs') %>
<% } %>