<% if (layout) { %>
<%- include('_top.ejs') %>
<% } %>

<div data-refresh-on="new-todo, remove-todo">
  <div class="nav-counter"><%= count %> items left to do.</div>
</div>

<% if (layout) { %>
<%- include('_bottom.ejs') %>
<% } %>