<% if (!pjax) { %>
<%- include('_top.ejs') %>
<% } %>

<a href="/new" class="popup"><button class="btn btn-default btn-lg">New</button></a>
<br><br>

<ul class="todo-list">
<% todos.forEach(function(todo){ %>
  <li class="">
  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title"><%= todo.name %></h3>
    </div>
    <div class="panel-body">TBD</div>
  </div>
  </li>
<% }) %>
</ul>

<% if (!pjax) { %>
<%- include('_bottom.ejs') %>
<% } %>