<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <ul>
    <% todos.forEach(function(todo){ %>
      <li><%= todo.name %></li>
    <% }) %>
    </ul>
  </body>
</html>
