<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
      <div id="body-container">
        <%- body %>
      </div>
      <div id="popup-container"></div>
      <x-import href="http://localhost:4000/widget"></x-import>
    <script src="javascripts/vendor/jquery-2.2.0.min.js"></script>
    <script src="javascripts/vendor/jquery-pjax-1.9.6.js"></script>
    <script src="javascripts/vendor/underscore-1.8.3-min.js"></script>
    <script src="javascripts/vendor/webcomponents-lite-0.7.2.min.js"></script>
    <script src="javascripts/vendor/x-import.js"></script>
    <script src="javascripts/vendor/x-activity-list.js"></script>
    <script src="javascripts/main.js"></script>
  </body>
</html>
