<% if (layout) { %>
<%- include('_top.ejs') %>
<% } %>

<div class="new-item jumbotron">
  <h2>New item</h2>
  <form action="new" method="post" data-pjax>
    <input name="name" value="<%= defaultName %>" class="form-control" />
    <br>
    <button type="submit" class="btn btn-default btn-lg">Create todo</button>
  </form>
</div>

<% if (layout) { %>
<br><br>
<hr>
<a href="/">Back to board</a>

<%- include('_bottom.ejs') %>
<% } %> 