body {
  padding: 70px;
}

.todo-list {
  max-width: 400px;
  padding: 0;
  list-style-type: none;
}

.activity-list {
  position: absolute;
  top: 100px;
  right: 50px;
  width: 300px;
}

.new-item {
  width: 800px;
}

.new-item input {
  margin-top: 30px;
  width: 200px;
}

.counter {
  color: white;
}