<div>
  <ul is="x-activity-list" href="http://localhost:4000/event-stream">
  <% events.forEach(function(event){ %>
    <li><%= event.name %></li>
  <% }) %>
  </ul>

  <!-- Precompile this, to avoid shared dependency on template settings -->
  <script type="text/template" id="event-template">
    <li>{{ event.name }}</li>
  </script>
</div>