<div>
  <activity-list class="activities" href="<%= ACTIVITIES_HOST %>/event-stream">
  <% events.forEach(function(event){ %>
    <li><span class="label label-<%= event.severity %>"><%= event.name %></span></li>
  <% }) %>
  </activity-list>
</div>