<div>
  <ul class="activities" is="x-activity-list" href="http://localhost:4000/event-stream">
  <% events.forEach(function(event){ %>
    <li><span class="label label-<%= event.severity %>"><%= event.name %></span></li>
  <% }) %>
  </ul>
</div>