<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap-3.3.6.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/vendor/document-register-element.js"></script>
    <script src="/javascripts/vendor/hinclude.js" type="text/javascript"></script>
  </head>
  <body>
    <h-include src="<%= NAVIGATION_HOST %>/?item=activity"><a href="http://localhost:5000/">Link to navigation</a></h-include>
    <div class="container">
      <div id="popup-container"></div>
      <!--<h1><%= title %></h1>-->
      <div id="body-container">
        <h1>Activities</h1>
        <%- body %>
      </div><!-- End #body-container -->
    </div><!-- End .container -->

    <script src="/javascripts/vendor/jquery-2.2.0.min.js"></script>
    <script src="/javascripts/vendor/jquery-pjax-1.9.6.js"></script>
    <script src="/javascripts/vendor/underscore-1.8.3-min.js"></script>
    <script src="/javascripts/vendor/x-activity-list-0.0.3.js"></script>
    <script src="/javascripts/vendor/bootstrap-3.3.6.min.js"></script>
  </body>
</html>
